/* The astertisk (*) targets every objects in the scene */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The root is where we define the global variables */
:root {
    --bg-color: #0a0a0a;
    --text-primary: #e0e0e0;
    --accent-color: #4196f3;
    --font-main: "Courier New", Courier, monospace;
}

/* This is the world settings*/
body {

    /*usage of the variables*/
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-main);

    /*Spacing between lines*/
    line-height: 1.6; 
}

/* Header */
header{
    
    /* Padding is "internal spacing" 
    Or more so The distance from wall to content */
    padding: 1rem 2rem;

    /* Blue Light at bottom */
    border-bottom: 2px solid var(--accent-color);

}

/* Navigation Bar */
nav{

    /* DISPLAY: FLEX is the magic engine. */
    /* It turns this container into a flexible layout manager. */
    display: flex;

    /* Push items to opposite ends (Left and Right). */
    /* Like Vector Math: Position A = 0, Position B = ScreenWidth */
    justify-content: space-between;

    /* Vertically center the items inside the bar. */
    align-items: center;

}

/* Navigation List */
nav ul {

    /* Remove default list styling */
    list-style: none;

    /* Making the list items horizontal */
    display: flex;

    /* Gap between list items */
    gap: 20px;

}

nav a {

    /* Link color */
    color: var(--text-primary);

    /* Remove default link underline */
    text-decoration: none;

    /* Font weight */
    font-weight: bold;

    /* Add transition for smooth color change */
    transition: color 0.3s

}

/* Hover effect for navigation links */
nav a:hover{

    /* Change link color on hover */
    color: var(--accent-color);
}